<included>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <appender name="spring" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.home:-.}/logs/tms/wfm/spring.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.home:-.}/logs/tms/archive/wfm/spring.%d{yyyy-MM-dd}.old.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <appender name="all" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.home:-.}/logs/tms/wfm/all.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.home:-.}/logs/tms/archive/wfm/all.%d{yyyy-MM-dd}.old.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.home:-.}/logs/tms/wfm/app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.home:-.}/logs/tms/archive/wfm/app.%d{yyyy-MM-dd}.old.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <appender name="orm" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.home:-.}/logs/tms/wfm/orm.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.home:-.}/logs/tms/archive/wfm/orm.%d{yyyy-MM-dd}.old.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <appender name="cache" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.home:-.}/logs/tms/wfm/cache.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.home:-.}/logs/tms/archive/wfm/cache.%d{yyyy-MM-dd}.old.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="warn" additivity="false">
    <appender-ref ref="spring" />
  </logger>

  <logger name="org.springframework.cache" level="warn" additivity="false">
    <appender-ref ref="cache" />
  </logger>

  <logger name="org.springframework.data.redis" level="warn" additivity="false">
    <appender-ref ref="cache" />
  </logger>

  <logger name="redis.clients.jedis" level="warn" additivity="false">
    <appender-ref ref="cache" />
  </logger>

  <logger name="com.gdn" level="warn" additivity="false">
    <appender-ref ref="app" />
  </logger>

  <logger name="org.hibernate" level="warn" additivity="false">
    <appender-ref ref="orm" />
  </logger>

  <root level="warn">
    <appender-ref ref="stdout" />
    <appender-ref ref="all" />
  </root>
</included>
